<article id="page-undefined" class="article article-type-page" itemscope="" itemprop="blogPost">
    <div class="article-single">
<!--
        {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
        <img src="{{ .Params.banner | absURL }}" class="article-banner">
        {{ end }}
-->

        {{ partial "article_header" . }}
        <div class="article-entry" itemprop="articleBody">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            {{ .Content }}
        </div>
        {{ partial "article_footer" . }}
    </div>

    <!--    {{ partial "prev_next_post" . }}-->
</article>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-2565580640435634" data-ad-slot="7147345245"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});

</script>

{{ if and (not (eq .Site.DisqusShortname "")) (not .Params.disable_comments) }}
<section id="comments">
    <div id="disqus_thread">
        {{ template "_internal/disqus.html" . }}
    </div>
</section>
{{ end }}
